
/* Probleme de CSS avec les allignement */

body{
    background-color: #C62B29;
    box-sizing: border-box;
}

.header{
   
    text-align: center;
}

.header img{
   align-items: center;
    
    
}
.hr{
    display: flex;
    background: solid #060807;
    height: 2px;
}


.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;


}

.navbar a{
    color: #060807;
    text-decoration: none;
    font-size: smaller;
    
}


   
.navbar ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
    

.navbar ul li{
    display: inline-block;
    margin-right: 14px;
    
}
    


.navhover:hover{
    color: whitesmoke;
}

.container{
    max-width: 1500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* ---------------Footer------------- */

.footer{
    background: #3AB7AF;
    color: whitesmoke;
    font-size: 10px;
    padding: 10px 0 10px;

}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
 
    min-width: 150px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #3AB7AF; 

}

.footer li{
    text-align: center;
    list-style-type: none;
    margin-bottom: 10px;



}


.footer h3{
    margin-left: 0;
    text-align:  center;
  
}


.copyright{
    text-align: center;
}

